{% extends 'front/layout.html.twig' %}


{% block content %}

<section class="breadcumb-area jarallax bg-img af">
    <div class="breadcumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        <h2>{{ post.title }}</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="javascript:void(0)">Posts/{{ post.title }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcumb area end here-->
<!--About area start here-->
    <section class="blog-details section">
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-details">
                        <div class="blogs">
                            <figure>
                                <div class="date"><strong>10</strong><span>aug</span></div>
                                <img src="{{ asset('uploads/' ~ post.image) }}" width="5%" height="10%" alt="{{ post.title }}">
                            </figure>
                            <div class="content-post">
                                <div class="content">
                                    <ul>
                                        <li><i class="fas fa-user"></i><span>{{post.user.username}}</span></li>
                                        <li><i class="fas fa-thumbs-up"></i><span>1524</span></li>
                                        <li><i class="fa fa-comments"></i><span>547</span></li>
                                        <li><i class="fa fa-clone"></i><span>weapons market</span></li>
                                    </ul>
                                    <h4>{{ post.title }}</h4>
                                </div>

                                <div class="content">
                                    <p> {{ post.description }} </p>
                                </div>
                                <div class="content">
                                    <a href="{{ path('blog_add') }}"><button type="button" class="btn btn-sm btn-outline-danger">Add a new Post</button></a>
                                    {% if post.user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('blog_update',{'id': post.id}) }}"><button type="button" class="btn btn-sm btn-outline-info">Update</button></a>
                                        <a href="{{ path('blog_delete',{'id': post.id}) }}"><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="admin">
                            <div class="dbox">
                                <div class="floatleft">
                                    <div class="content">
                                        <h4>About the writer - {{ post.user.username }}</h4>
                                        <p>Research Scientist @ TU Munich || Space Entrepreneur || Co-Founder & CEO @ MyelinS || NASA iTech Winner</p>
                                        <a href="{{ path('more_pub',{'user': post.user.id}) }}">more of {{ post.user.username }} 's posts</a>
                                    </div>
                                </div>
                                <div class="floatright">
                                    <figure><img src="{{ asset('uploads/' ~ post.user.picture) }}" width="80%" height="80%" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <div class="comments-area">
                            <h3>Comments <span>{{ post.comments | length }}</span></h3>
                            {% for comment in post.comments %}
                            <div class="comment-list">
                                <div class="dbox">
                                    <div class="dleft">
                                    </div>
                                    <div class="dright">
                                        <h5>{{ comment.user.username }}<span>{{ comment.postedAt | date }}</span></h5>
                                        <p> {{ comment.content }} </p>
                                    </div>
                                    <br>

                                    <div class="content">
                                        {% if post.user.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('delete_comment',{'id': comment.id }) }}"><button type="button" class="btn btn-sm btn-outline-info">delete</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="comment-box">
                            <h3>LEave a <span>comment</span></h3>
                            <form action="{{ path('add_comment') }}" method="post" >
                                <fieldset class="mr-b30">
                                    <textarea rows="3" name="comment" placeholder="Comment"></textarea>
                                </fieldset>
                                <button type="submit" class="btn1">send a comment</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 floatright">
                    <div class="sibebar">
                        <div class="wighet search">
                            <form>
                                <input type="search" placeholder="Search here">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="wighet categories">
                            <h3>categ<span>ories</span></h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Bitcoin Investment <span>12</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Crypto currencies <span>78</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Bitcoin Mining <span>45</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Exchange Crypto <span>47</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Escrow Service <span>68</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Services  <span>288</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Bitcoin Wallet <span>54</span></a></li>
                            </ul>
                        </div>
                        <div class="wighet post">
                            <h3>RECENT <span>NEWS</span></h3>
                            <div class="post-list">
                                <div class="thimb">
                                    <a href="#"><img src="assets/images/blog/1.jpg" alt=""></a>
                                </div>
                                <div class="con">
                                    <a href="#"><h6>Weapons 2016</h6></a>
                                    <span>12 May 2016</span>
                                </div>
                            </div>
                            <div class="post-list">
                                <div class="thimb">
                                    <a href="#"><img src="assets/images/blog/2.jpg" alt=""></a>
                                </div>
                                <div class="con">
                                    <a href="#"><h6>Weapons 2017</h6></a>
                                    <span>12 May 2017</span>
                                </div>
                            </div>
                            <div class="post-list">
                                <div class="thimb">
                                    <a href="#"><img src="assets/images/blog/3.jpg" alt=""></a>
                                </div>
                                <div class="con">
                                    <a href="#"><h6>Weapons 2018</h6></a>
                                    <span>12 May 2018</span>
                                </div>
                            </div>
                        </div>
                        <div class="wighet tags">
                            <h3>Tags <span>Cloud</span></h3>
                            <ul class="list-inline">
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Customer</a></li>
                                <li><a href="#">Money</a></li>
                                <li><a href="#">Weapon</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Wordpress</a></li>
                                <li><a href="#">Html</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--Partner area End here-->
<!--Subscribe area start here-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="subscribe">
                    <span class="ico"><i class="far fa-envelope"></i></span>
                    <div class="conts">
                        <h2>Get Our Latest News</h2>
                        <p>Subscribe our Newsletter Now !</p>
                    </div>
                    <form>
                        <input type="email" placeholder="Email Address">
                        <button type="submit" class="btn1">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Subscribe area End here-->
<!--Footer area start here-->
<footer class="jarallax">
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="foo-about">
                        <figure><img src="assets/images/logo/logo.png" alt="" /></figure>
                        <div class="contents">
                            <p>All modern weaponts can apprecie our broad services akshay handge phatum feugiat gun. This is Photo shop's version of Lorem.</p>
                            <a href="#" class="btn3">read more <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <ul class="foo-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>latest News</h2>
                    <div class="foo-news">
                        <div class="newslists">
                            <div class="dbox">
                                <div class="dleft">
                                    <figure><img src="assets/images/blog/sm-1.jpg" alt="" /></figure>
                                </div>
                                <div class="dright">
                                    <div class="content">
                                        <h4><a href="#">Weapons 2017</a></h4>
                                        <p>Weaponts can apprecie
                                            <br> our broad services.</p>
                                        <span><i class="fas fa-calendar"></i> 12 Jan 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newslists">
                            <div class="dbox">
                                <div class="dleft">
                                    <figure><img src="assets/images/blog/sm-2.jpg" alt="" /></figure>
                                </div>
                                <div class="dright">
                                    <div class="content">
                                        <h4><a href="#">Weapons 2018</a></h4>
                                        <p>Weaponts can apprecie
                                            <br> our broad services.</p>
                                        <span><i class="fas fa-calendar"></i> 12 Jan 2018</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>Product Shop</h2>
                    <div class="products-foo">
                        <ul>
                            <li>
                                <a href="#"><img src="assets/images/products/sm1.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/products/sm2.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/products/sm3.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="assets/images/products/sm4.jpg" alt="" /></a>
                            </li>
                        </ul>
                        <p>For More Products and Gun Click Here!</p>
                        <a href="#" class="btn1">Our Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="copyright sm-t-center">
                        <p>Copyright © 2018 <a href="#"><span>Gun</span> </a>Shop. Design by <a href="#"><span>Webstrot</span></a></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="foo-links sm-t-center">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Copyright Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}